/* .navbar {
  background: #161b22;
  padding: 15px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
} */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 20px;
  background: #333;
  color: white;
}

.nav-links {
  display: flex;
  /* gap: 20px; */
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}


.logo {
  color: #58a6ff;
  font-weight: bold;
}

.nav-links a {
  margin: 0 12px;
  text-decoration: none;
  color: #c9d1d9;
  font-weight: 500;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #58a6ff;
}

.nav-links a.active {
  border-bottom: 2px solid #58a6ff;
  transition: border-bottom 0.3s ease;
}

@media (max-width: 700px) {
  .nav-links a {
    font-size: 14px;
  }

  .logo {
    font-size: 1rem;
  }

  .nav-links {
    gap: 10px;
  }
}

@media (max-width: 500px) {
  .nav-links a {
    font-size: 12px;
  }

  .logo {
    font-size: 0.7rem;
  }

  .nav-links {
    gap: 2px;
  }
}