

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: #0d1117;
  color: #e6edf3;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1;
  padding: 30px;
}

